p
{
    color: blue;
}
h1,em{
    color : rgb(10, 228, 155);
}
p
{
    text-shadow: 2px 2px 4px rgb(100, 93, 93);
    border-left: 2px solid rgb(255, 0, 0);
    border-right: 2px solid rgb(255, 0, 0);
    background-color: rgb(231, 250, 248);
    box-shadow: 6px 6px 10px rgb(192, 190, 190) ;
}
p:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: green;
}